<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/hamropatro/IdeaProjects/Audience">
        <classes>
            <class name="org.hamropatro.test.LoginTest">
                <methods>
                    <include name="TestLogin"/>
                </methods>
            </class>

            <class name="org.hamropatro.segment.CreateSegment">
                <methods>
                    <include name="NewSegment"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>